.vs/
*.vsidx
*.cache
bin/
obj/
src/BrowserAutomationMaster/.vscode/launch.json
src/BrowserAutomationMaster/.vscode/tasks.json
src/.vscode/launch.json
src/.vscode/tasks.json
/src/Published Builds
src/MacPackager/.vscode/launch.json
src/MacPackager/.vscode/tasks.json
