src/*/bin
src/*/obj
.kilo
.vscode

src/*/Resources/NativeFileDialog/bin
src/*/Resources/NativeFileDialog/obj

src/BrowserAutomationMaster/Resources/gui.zip
src/BrowserAutomationMaster.Tests/Gui/Server/GuiServerHost/obj/
src/BrowserAutomationMaster.Tests/Gui/Server/GuiServerHost/bin/
